---

#machine_hostname: "my_hostname"

#git_name: John Doe
#git_email: john.doe@email.com


# fish_aliases:
# - alias: n.
#   command: "nautilus ."
#  - alias: kc
#    command: "kubectl"
#  - alias: kns
#    command: "kubens"
#  - alias: kctx
#    command: "kubectx"
#  - alias: c.
#    command: "code ."
#  - alias: ls
#    command: "exa"

# fish_variables:
#   - name: NPM_CONFIG_PREFIX
#     value: "~/.npm-global"

#dotnet_sdk_version: 3.1

#flatpak_urls: 
#   - https://flathub.org/repo/appstream/org.videolan.VLC.flatpakref
#   - https://flathub.org/repo/appstream/com.getpostman.Postman.flatpakref
#   - https://flathub.org/repo/appstream/com.skype.Client.flatpakref

packages:
  - deluge
  - ranger
  - lm_sensors
  - dconf-editor